<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
  <tr>
      {% for field in model %}
        <th>{{field}}</th>
      {% endfor %}
    </tr>
  {% for book in books %}
    <tr><td>{{book}}</td><td>{{book.author}}</td><td>{{book.publishing_house}}</td></tr>
  {% endfor %}
</table>
<br>
<form style="display: inline-block" action="export-db" method="GET">
    <input type="hidden" name="model" value="book" />
    <button style="padding: 12px 55px; margin: 6px 0px 12px" class="button" type="submit">Экспорт Книги в xls</button>
</form>
</body>
</html>
