<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
  <tr>
      {% for field in model %}
        <th>{{field}}</th>
      {% endfor %}
    </tr>
  {% for author in authors %}
    <tr><td>{{author.name}}</td><td>{{author.s_name}}</td><td>{{author.t_name}}</td><td>{{author.books}}</td></tr>
  {% endfor %}
</table>
<br>
<form style="display: inline-block" action="export-db" method="POST">
    <input type="hidden" name="model" value="author" />
    <button style="padding: 12px 55px; margin: 6px 0px 12px" class="button" type="submit">Export authors into xls</button>
</form>
</body>
</html>
